/*
This is the style sheet for ePortfolio Generator Application
*/
/* 
    Created on : Nov 21, 2015, 1:09:30 PM
    Author     : Ahsan Qureshi
*/

.top_toolbar {
    -fx-border-style: solid;
    -fx-border: black;
    -fx-padding: 5px 5px 5px 5px;
    -fx-margin: 10px;
    -fx-background-color: silver;
    -fx-font-family: Copperplate;
}

.site_toolbar {
    
}

.component_toolbar{
    
    -fx-background-color: skyblue;
    -fx-padding: 5px 5px 5px 5px;
    
}

.bottom_toolbar {
    -fx-border-style: solid;
    -fx-border: black;
    -fx-background-color: silver;
}

.file_toolbar_button {
    -fx-background-radius: 0;
    -fx-padding: 5px 20px 5px 20px;
}

.left_toolbar_button {
    -fx-background-radius: 0;
    -fx-padding: 2px 14px 2px 14px;
    -fx-margin: 10px;
    -fx-font-size: 16px;
    font-weight: bold;
}

.editor_toolbar_button {
    -fx-background-radius: 0;
    -fx-padding: 5px 15px 5px 15px;
    
}

.page_select {
    -fx-width: 10%;
    -fx-border-style: solid;
    -fx-border: black;
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: white;
    -fx-font-family: Copperplate;

}

.workspaceblue {
    -fx-border-style: solid;
    -fx-border: black;
    -fx-padding: 0px 25px 0px 25px;
    -fx-background-color: blue;
    -fx-font-family: Times;
    -fx-text-alignment: center;
}

.selected_page {
    -fx-background-color: lightblue;
    -fx-padding: 10px 10px 10px 10px;
    -fx-alignment-adjust: middle;
}

.bannerblack {
    -fx-font-size: 70px;
    -fx-background-color: black;
}

.navblackred {
    -fx-font-size: 20px;
    -fx-background-color: black;
    -fx-text-fill: red;
}

.nav_selectblue {
    -fx-text-fill: blue;
    -fx-font-size: 40px;
}

.selected_component {
    
}

.componentblack {
    -fx-background-color: black;
}

.content {
    -fx-text-alignment: center;
}

.banner_text {
    -fx-text-fill: yellow;
}

.banner_image {
    
    -fx-translate-x: 265px;
    
}

.footer {
}

.footer_text {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.page_name {
    
    -fx-translate-x: 250px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-padding: 10px 10px 10px 10px;
    
}

.dialog {
  
    -fx-background-color: silver;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 10;
    -fx-font-family: Century Gothic;
}

.dialog_text {
    -fx-text-fill: black;
}

.nav {
    -fx-text-fill: green;
}

.selected_slide {
    -fx-background-color: lightblue;
            -fx-padding: 10px 10px 10px 10px;

}

.slide{
        -fx-padding: 10px 10px 10px 10px;

}

.header {
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size: 30px;
}

.paragraph {
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size: 18px;
}

.list {
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size: 18px;
}

.image {
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size: 18px;
}

.video {
    -fx-padding: 10px 10px 10px 10px;
        -fx-font-size: 18px;

}

.slideshow {
    -fx-padding: 10px 10px 10px 10px;
        -fx-font-size: 18px;

}