/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 12:53:36 AM
    Author     : ahsanqureshi
*/

body{
    margin: 0px;
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
}


h1.BannerTxt{
    margin: 0px;
    height: 77px;
    text-align: center;
    line-height: 2.5em;
    
}

img.BannerImage{
    position: absolute;
    height: 70px;
    top: 3px;
    left: 3px;
}

div.NavBar{
    height: 50px;
    position: absolute;
    text-align: center;
    top: 77px;
    left: 0px;
    right: 0px;
    margin: 0px;
    line-height: 3em;
}

h3{
    display: inline;
    padding-right: 1em;
    margin: 0px;
}

div.Content{
    position: absolute;
    top: 127px;
    right: 0px;
    left: 0px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    line-height: 1.5em;
    padding-bottom: 50px;
}

div.Content p {
    text-indent: 25px;
}

div.Content img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
}

div.slideshow img {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.slideshow p {
    color: black;
    margin: 0px 0px 0px 0px;
    padding-bottom: 15px;
}

div.slideshow.buttons {
}

div.slideshow {
    display: block;
    padding-bottom: 5px;
    vertical-align: central;
    margin-bottom: 0px;
    text-align: center;
}

div.ImageComponent p{
    text-align: center;
}

div.VideoComponent video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.VideoComponent p{
    text-align: center;
}