/** 
 *  This CSS provides all the style settings for
 *  html file.
 *
 *  @author Ahsan Qureshi
 */

body{
    margin: 0px 0px 0px 0px;
}

h1 {
    width: 1000px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 400%;
    text-align: left;
    text-indent: 5px;
    color: white;
    background-color: #6699ff;
    margin: 0px 0px 0px 0px; 
}

div{
    width: 1000px;
    text-align: center;
}

div.footer {
    padding-bottom: 5px;
    background-color: #6699ff;
    vertical-align: central;
    margin-bottom: 0px;
}

img {
    height: 550px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 200%;
    color: black;
    margin: 0px 0px 0px 0px;
}

div.buttons {
    display: block;
}